body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.6px;
    text-align: center;
}

.big{
    font-size: 4.7rem;
    color: blue;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.8px;
    font-size: 2.5rem;
}

/* INDEX */

ul{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-style: italic;
}

ul a{
    text-decoration: none;
    color: rgb(151, 15, 15);
}

ul a:active{
    text-decoration: none;
    color: blue;
}

/* FORM */
form{
    margin: 3%;
}

label{
    color: rgb(151, 15, 15);
}

input{
    padding: 0.4%;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0.5% auto 1%;
}

input[type=submit], button{
    margin-top: 6%;
    padding: 0.7% 1%;
    background-color: blue;
    border: 0px;
    border-radius: 18%;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    outline: none;
}

/* TABLE */
table{
    margin: 5% auto;
    border-collapse: collapse;
}

table, tr, th, td{
    border: 1px solid silver;
}

th, td{
    padding: 20px;
}

th{
    color: blue;
}

/* SUBMISSION */

.result{
    color:  rgb(151, 15, 15);
}

button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
}
